.FlavourCardWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 360px;
  position: relative;
  overflow: hidden;
  .flavourBackground {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
    inset: 0;
    background: $white;
  }

  &:has(.flavourImageWrapper.cheekyLime) {
    .flavourBackground {
      background-color: $limeLight;
    }
  }
  &:has(.flavourImageWrapper.orangeCrush) {
    .flavourBackground {
      background-color: $orangeLight;
    }
  }
  &:has(.flavourImageWrapper.strawberryYum) {
    .flavourBackground {
      background-color: $strawberryLight;
    }
  }
  &:has(.flavourImageWrapper.blackberryBlast) {
    .flavourBackground {
      background-color: $blackCurrantLight;
    }
  }

  .contentWrapper {
    // transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    padding: 0px 55px;

    .number {
      font-weight: 500;
      font-size: 44px;
      vertical-align: middle;
      margin-bottom: 20px;
    }
    .headerWrapper {
      font-weight: 700;
      font-style: Bold;
      font-size: 22px;
      line-height: 23px;
      color: $black;
      margin-bottom: 20px;
      min-width: max-content;
    }
    .description {
      font-weight: 400;
      color: #171b1f;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 20px;
    }
    .primaryButton {
      color: #242f4b;
    }
  }

  .flavourImageWrapper {
    .graphicsWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      min-height: 615px;
      .imageWrapper {
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
      }
      .flavourImage {
      }
      .backgroundCircle {
        aspect-ratio: 1;
        min-width: 100%;
        border-radius: 100%;
        z-index: -2;
      }
    }
  }

  // flavour specific colors
  .flavourImageWrapper.cheekyLime {
    .backgroundCircle {
      background-color: $limeBackground;
    }
  }
  .flavourImageWrapper.orangeCrush {
    .backgroundCircle {
      background-color: $orange;
    }
  }
  .flavourImageWrapper.strawberryYum {
    .backgroundCircle {
      background-color: $strawberry;
    }
  }
  .flavourImageWrapper.blackberryBlast {
    .backgroundCircle {
      background-color: $blackCurrant;
    }
  }
}
