$blackCurrant: #60449b;
$orange: #ff960d;
$lime: #30a100;
$strawberry: #cd2520;
$black: #292d32;
$limeLight: #cfcf8d4d;
$orangeLight: #debe6e4a;
$strawberryLight: #dc8d764a;
$blackCurrantLight: #947fbe4d;

$white: #f1f4f9;
$limeBackground: #a1cd57;
