@import "./core/allCore";
@import "./buttons/allButtons";
@import "./typography/allTypography";
@import "./pages/allPages";
@import "./components/allComponents";

html {
  font-family: "IBM Plex Sans", sans-serif;
}
body {
  margin: unset;
  background-color: white;
}

button {
  border: unset;
  width: fit-content;
  cursor: pointer;
}
