.primaryButton {
  border-radius: 20px;
  padding: 6px 24px;
  box-shadow: 5px 5px 10px 0px #cfd7e6, 5px 5px 20px 0px #dce6f5 inset;
  font-size: 16px;
  background-color: #f1f4f9;
}

.blackberryBlastText {
  color: #60449b;
}

.orangeCrushText {
  color: #ff960d;
}

.cheekyLimeText {
  color: #30a100;
}

.strawberryYumText {
  color: #cd2520;
}

.FlavourWrapper {
  display: flex;
  height: 100vh;
  overflow: scroll;
}

.FlavourDetailsWrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
}
.FlavourDetailsWrapper .blackberryBlast.backgroundGradient.z {
  z-index: 11;
  background: radial-gradient(50% 50% at 50% 50%, #aa93e3 0%, #7547e5 100%);
}
.FlavourDetailsWrapper .cheekyLime.backgroundGradient.z {
  z-index: 11;
  background: radial-gradient(circle at 70% 60%, #e0f7d1 0%, #4caf50 60%);
}
.FlavourDetailsWrapper .strawberryYum.backgroundGradient.z {
  background: radial-gradient(circle at 70% 60%, #ffd1d9 0%, #ff4e71 60%);
  z-index: 11;
}
.FlavourDetailsWrapper .orangeCrush.backgroundGradient.z {
  z-index: 11;
  background: radial-gradient(circle at 70% 60%, #ffdeba 0%, #f38b03 60%);
}
.FlavourDetailsWrapper .blackberryBlast.backgroundGradient.x {
  z-index: 10;
  background: radial-gradient(50% 50% at 50% 50%, #aa93e3 0%, #7547e5 100%);
}
.FlavourDetailsWrapper .cheekyLime.backgroundGradient.x {
  z-index: 10;
  background: radial-gradient(circle at 70% 60%, #e0f7d1 0%, #4caf50 60%);
}
.FlavourDetailsWrapper .strawberryYum.backgroundGradient.x {
  background: radial-gradient(circle at 70% 60%, #ffd1d9 0%, #ff4e71 60%);
  z-index: 10;
}
.FlavourDetailsWrapper .orangeCrush.backgroundGradient.x {
  z-index: 10;
  background: radial-gradient(circle at 70% 60%, #ffdeba 0%, #f38b03 60%);
}
.FlavourDetailsWrapper .backgroundGradient {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.FlavourDetailsWrapper .allContentWrapper {
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: 12;
}
.FlavourDetailsWrapper .allContentWrapper .flavourImageWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 11;
}
.FlavourDetailsWrapper .allContentWrapper .flavourImageWrapper .backgroundText {
  font-family: "Bangers", sans-serif;
  font-size: 32vw;
  width: fit-content;
  color: #f5f5f5;
  position: absolute;
  top: 40%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.FlavourDetailsWrapper .allContentWrapper .flavourImageWrapper .backgroundEffect {
  background-repeat: no-repeat;
  position: absolute;
  max-width: 680px;
  width: 100vw;
  height: 100vh;
  max-height: 540px;
  left: -80%;
  bottom: 20%;
  z-index: 1;
}
.FlavourDetailsWrapper .allContentWrapper .flavourImageWrapper .flavourImage {
  margin-bottom: 16px;
  height: auto;
  z-index: 2;
}
.FlavourDetailsWrapper .allContentWrapper .flavourImageWrapper .arrowsWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  z-index: 14;
}
.FlavourDetailsWrapper .allContentWrapper .flavourImageWrapper .arrowsWrapper .iconArrow {
  border: 2px solid #fafafa;
  border-radius: 50%;
  height: 54px;
  width: 54px;
  cursor: pointer;
}
.FlavourDetailsWrapper .allContentWrapper .flavourImageWrapper .arrowsWrapper .iconLeftArrow,
.FlavourDetailsWrapper .allContentWrapper .flavourImageWrapper .arrowsWrapper .iconRightArrow {
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
}
.FlavourDetailsWrapper .allContentWrapper .flavourImageWrapper .arrowsWrapper .iconLeftArrow {
  background-image: url("../../../public/icons/arrow.svg");
}
.FlavourDetailsWrapper .allContentWrapper .flavourImageWrapper .arrowsWrapper .iconRightArrow {
  background-image: url("../../../public/icons/arrow.svg");
  transform: rotate(180deg);
}
.FlavourDetailsWrapper .allContentWrapper .contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  height: 80%;
  padding: 0px 100px;
  width: fit-content;
}
.FlavourDetailsWrapper .allContentWrapper .contentWrapper .headerText {
  font-family: var(--font-mina);
  font-weight: 700;
  font-size: 46px;
  line-height: 100%;
  margin: unset;
  color: white;
  z-index: 12;
}
.FlavourDetailsWrapper .allContentWrapper .contentWrapper .descriptionText {
  color: rgba(255, 255, 255, 0.8392156863);
  max-width: 450px;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  margin: unset;
  margin-bottom: 20px;
  z-index: 12;
}
.FlavourDetailsWrapper .allContentWrapper .contentWrapper .primaryButton {
  position: relative;
  padding: 10px 48px;
  min-width: 166px;
  min-height: 44px;
  border-radius: 999px;
  border: none;
  background: transparent;
  color: white;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px -7px 9px rgba(0, 0, 0, 0.25), inset 6px 6px 7px rgba(255, 255, 255, 0.38);
  overflow: hidden;
  z-index: 12;
}
.FlavourDetailsWrapper .allContentWrapper .contentWrapper .primaryButton::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;
  background: conic-gradient(from var(--angle), rgba(255, 255, 255, 0) 0deg, rgb(255, 255, 255) 120deg, rgba(255, 255, 255, 0) 240deg, rgba(255, 255, 255, 0) 360deg);
  animation: borderLoop 3s linear infinite;
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  pointer-events: none;
}
.FlavourDetailsWrapper .allContentWrapper .quantityItemsWrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 10;
}
.FlavourDetailsWrapper .allContentWrapper .quantityItemsWrapper .quantityItem {
  transition: all 0.5s;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: rgba(54, 54, 54, 0.336);
  color: white;
  display: flex;
  font-family: var(--font-outfit);
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FlavourDetailsWrapper .allContentWrapper .quantityItemsWrapper .quantityItem.active {
  background-color: rgba(255, 255, 255, 0.947);
  color: black;
}

.FlavourDetailsWrapper.orangeCrush .contentWrapper .primaryButton {
  transition: 0.5s;
  background: #fac996;
  color: black;
}
.FlavourDetailsWrapper.orangeCrush .backgroundEffect {
  background-image: url("../../../public/flavours/orangeBackground.png");
  background-repeat: no-repeat;
}

.FlavourDetailsWrapper.blackberryBlast .contentWrapper .primaryButton {
  background: #a991e3;
}
.FlavourDetailsWrapper.blackberryBlast .backgroundEffect {
  background-image: url("../../../public/flavours/blackberryBackground.png");
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes borderLoop {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
.FlavourCardWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 360px;
  position: relative;
  overflow: hidden;
}
.FlavourCardWrapper .flavourBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -2;
  inset: 0;
  background: #f1f4f9;
}
.FlavourCardWrapper:has(.flavourImageWrapper.cheekyLime) .flavourBackground {
  background-color: rgba(207, 207, 141, 0.3019607843);
}
.FlavourCardWrapper:has(.flavourImageWrapper.orangeCrush) .flavourBackground {
  background-color: rgba(222, 190, 110, 0.2901960784);
}
.FlavourCardWrapper:has(.flavourImageWrapper.strawberryYum) .flavourBackground {
  background-color: rgba(220, 141, 118, 0.2901960784);
}
.FlavourCardWrapper:has(.flavourImageWrapper.blackberryBlast) .flavourBackground {
  background-color: rgba(148, 127, 190, 0.3019607843);
}
.FlavourCardWrapper .contentWrapper {
  padding: 0px 55px;
}
.FlavourCardWrapper .contentWrapper .number {
  font-weight: 500;
  font-size: 44px;
  vertical-align: middle;
  margin-bottom: 20px;
}
.FlavourCardWrapper .contentWrapper .headerWrapper {
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 23px;
  color: #292d32;
  margin-bottom: 20px;
  min-width: max-content;
}
.FlavourCardWrapper .contentWrapper .description {
  font-weight: 400;
  color: #171b1f;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}
.FlavourCardWrapper .contentWrapper .primaryButton {
  color: #242f4b;
}
.FlavourCardWrapper .flavourImageWrapper .graphicsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 615px;
}
.FlavourCardWrapper .flavourImageWrapper .graphicsWrapper .imageWrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}
.FlavourCardWrapper .flavourImageWrapper .graphicsWrapper .backgroundCircle {
  aspect-ratio: 1;
  min-width: 100%;
  border-radius: 100%;
  z-index: -2;
}
.FlavourCardWrapper .flavourImageWrapper.cheekyLime .backgroundCircle {
  background-color: #a1cd57;
}
.FlavourCardWrapper .flavourImageWrapper.orangeCrush .backgroundCircle {
  background-color: #ff960d;
}
.FlavourCardWrapper .flavourImageWrapper.strawberryYum .backgroundCircle {
  background-color: #cd2520;
}
.FlavourCardWrapper .flavourImageWrapper.blackberryBlast .backgroundCircle {
  background-color: #60449b;
}

.NavigationBarWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 40px;
}
.NavigationBarWrapper .navLink {
  text-decoration: none;
  color: #f1f4f9;
}
.NavigationBarWrapper .mainLogo {
  font-size: 32px;
  font-weight: 700;
  z-index: 12;
}
.NavigationBarWrapper .navLinks {
  display: flex;
  z-index: 12;
}
.NavigationBarWrapper .navLinks .navLink {
  padding: 0px 32px;
  font-size: 16px;
  cursor: pointer;
}
.NavigationBarWrapper .userSpace {
  z-index: 12;
}
.NavigationBarWrapper .userSpace .iconButton {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: unset;
  width: 30px;
  height: 30px;
}
.NavigationBarWrapper .userSpace .iconCart {
  background-image: url("../../../public/icons/shopping-bag-line.svg");
  position: relative;
}
.NavigationBarWrapper .userSpace .iconCart .cartItemsNumber {
  width: 16px;
  height: 16px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: -2px;
  font-size: 12px;
  text-align: center;
  color: white;
}
.NavigationBarWrapper .userSpace .iconUser {
  margin-right: 24px;
  background-image: url("../../../public/icons/account-circle-line.svg");
}

html {
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  margin: unset;
  background-color: white;
}

button {
  border: unset;
  width: fit-content;
  cursor: pointer;
}

/*# sourceMappingURL=app.css.map */
